.portfolio {
    position: relative;

    &:before {
        position: absolute;
        content: '';
        top: -50px;
        left: 46.5%;
        right: 46.5%;
        height: 7px;
        background-color: @color-card-portfolio__before;
    }
}

    .portfolio__genre {
        font-size: 16px;
        margin: 0 10%;
    }

    .portfolio__screenshots {
        display: flex;
        flex-flow: nowrap;
        height: 360px;
        left: 0;
        right: 0;
        margin: 50px 0;
        overflow: hidden;
        position: absolute;
    }

    .portfolio__switcher {
        margin: 480px 0 50px;
    }

    .portfolio__list {
        display: flex;
        list-style-type: none;
        margin-left: -40%;
        position: relative;
    }
